.individual-lamp{
display: flex;
flex-direction: row;
gap: 30px;
flex-wrap: wrap;
justify-content: center;
/* display: none; */

}

.global-lamp{
display: flex;
flex-direction: row;
gap: 30px;
flex-wrap: wrap;
justify-content: center;




}
.lamp-and-btn{
  display: flex;
  flex-direction: column;
  width: 200px;
  
}

.lamp {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
 

}

.off{
  background-color: yellow;
}

.on{
   background-color: rgb(67, 67, 67);
}

.lamp-btn-on{

  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 10px;
  background-color: green;
  border-radius: 5px;
}

